<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>FITZEE | Blog</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href=" {% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
<link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src=" {% static 'js/jquery.min.js' %} "></script>
<!-- //js -->
<!-- cart -->
	<script src=" {% static 'js/simpleCart.min.js' %} "> </script>
<!-- cart -->
<link rel="stylesheet" type="text/css" href=" {% static 'css/jquery-ui.css' %} ">
<!-- for bootstrap working -->
	<script type="text/javascript" src=" {% static 'js/bootstrap-3.1.1.min.js' %} "></script>
<!-- //for bootstrap working -->
<link href=' //fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'  rel='stylesheet' type='text/css'>
<link href=' //fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'  rel='stylesheet' type='text/css'>
<link rel="stylesheet" href=" {% static 'css/rate.css' %} " />
	<!-- animation-effect -->
<link href=" {% static 'css/animate.min.css' %} " rel="stylesheet"> 
<script src=" {% static 'js/wow.min.js' %} "></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->

<!-- <style>
	table, th, td {
	  border:10px solid black;
	  background-color: white;
	  padding: 5px;
	}
	td{
		height: 600px;
		width:300px;
		vertical-align: top;
		background-color: white;
		color:black;
	}

	tr{
		height: 600px;
	}
	
	
	</style> -->
</head>
	
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<div class="header-grid">
			<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
				<ul>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href=" {% static 'mailto:info@example.com' %} ">fitzeeforhealth@gmail.com</a></li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 1234567890</li>
					{% if request.session.log_user %}
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href=" {% url 'logout' %} ">logout</a></li>
						{% else %}
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href=" {% url 'login.html' %} ">Login</a></li>
						{% endif %}
					<li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href=" {% url 'register.html' %} ">Register</a></li>
				</ul>
			</div>
			<div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
				<!-- <ul class="social-icons">
					<li><a href="#" class="facebook"></a></li>
					<li><a href="#" class="twitter"></a></li>
					<li><a href="#" class="g"></a></li>
					<li><a href="#" class="instagram"></a></li>
				</ul>				 -->
				<ul class="social-icons">
					<li><a href="https://www.facebook.com/profile.php?id=100078447043673"><img src=" {% static 'images/face.png' %} "></a>
							<a href="https://twitter.com/FitzeeH?t=FeZig36XOoYim0RNfjdv6Q&s=03"><img src=" {% static 'images/twitter.png' %} " height="38px" width="38px"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--							<a href=""><img src=" {% static 'images/google.png' %} " height="38px" width="38px"></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
							<a href="https://www.instagram.com/fitzee_forhealth/"><img src=" {% static 'images/instagram.png' %} " height="38px" width="38px"></a>
						</li>
					
				
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="logo-nav">
			<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
				<h1><a href=" {% url 'index.html' %} ">&nbsp;FITZEE <span>Stay Healthy</span></a></h1>
			</div>
			<div class="logo-nav-left1">
				<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href=" {% url 'index.html' %} "  style="color:white">HOME</a></li>
						<!-- Mega Menu -->
						{% if request.session.log_user %}
						<li class="active">
							<a href=" {% url 'exercise.html' %} " style="color:white">EXERCISE</a>
							<!-- <ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-6">
										<ul class="multi-column-dropdown">
											<h5><a href=" {% static 'products.html' %} ">Weight Gain</a></h5>
											<li><a href=" {% static 'products.html' %} ">Clothing</a></li>
											<li><a href=" {% static 'products.html' %} ">Wallets</a></li>
											<li><a href=" {% static 'products.html' %} ">Shoes</a></li>
											<li><a href=" {% static 'products.html' %} ">Watches</a></li>
											<li><a href=" {% static 'products.html' %} ">Accessories</a></li> 
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="multi-column-dropdown">
											<h5><a href=" {% static 'products.html' %} ">Weight Loose</a></h5>
											 <li><a href=" {% static 'products.html' %} ">Clothing</a></li>
											<li><a href=" {% static 'products.html' %} ">Wallets,Bags</a></li>
											<li><a href=" {% static 'products.html' %} ">Footwear</a></li>
											<li><a href=" {% static 'products.html' %} ">Watches</a></li>
											<li><a href=" {% static 'products.html' %} ">Accessories</a></li>
											<li><a href=" {% static 'products.html' %} ">Jewellery</a></li>
											<li><a href=" {% static 'products.html' %} ">Beauty & Grooming</a></li> 
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<h6>Kid's Wear</h6>
											<li><a href=" {% static 'products.html' %} ">Kids Home Fashion</a></li>
											<li><a href=" {% static 'products.html' %} ">Boy's Clothing</a></li>
											<li><a href=" {% static 'products.html' %} ">Girl's Clothing</a></li>
											<li><a href=" {% static 'products.html' %} ">Shoes</a></li>
											<li><a href=" {% static 'products.html' %} ">Brand Stores</a></li>
										</ul>
									</div> 
									<div class="clearfix"></div>
								</div>
							</ul> -->
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">DIET <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-2">
								<div class="row">
									<div class="col-sm-6">
										<ul class="multi-column-dropdown">
											<h6>vegetarian</h6>
												<li><a href="/vwg"><b>WEIGHT GAIN</b></a></li>
												<li><a href="/vwl"><b>WEIGHT LOOSE</b></a></li>
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h6>non-vegetarian</h6>
												<li><a href="/nwg"><b>WEIGHT GAIN</b></a></li>
												<li><a href="/nwl"><b>WEIGHT LOOSE</b></a></li>
										</ul>
									</div>
									<!--<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<h6>Kid's Wear</h6>
											<li><a href=" {% static 'products.html' %} ">Kids Home Fashion</a></li>
											<li><a href=" {% static 'products.html' %} ">Boy's Clothing</a></li>
											<li><a href=" {% static 'products.html' %} ">Girl's Clothing</a></li>
											<li><a href=" {% static 'products.html' %} ">Shoes</a></li>
											<li><a href=" {% static 'products.html' %} ">Brand Stores</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>-->
								</div>
							</ul>
						</li>
						{% endif %}
						<li class="active"><a href=" {% url 'blog.html' %} " class="act" style="color:white">BLOG</a></li>
						<li><a href=" {% url 'products.html' %} " style="color:white">PRODUCTS</a></li>
						<li><a href=" {% url 'mail.html' %} " style="color:white">CONTACT US</a></li>
					</ul>
				</div>
				</nav>
			</div>
			<!-- <div class="logo-nav-right">
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
						</form>
					</div>
				</div>
					 search-scripts -->
					<!-- <script src=" {% static 'js/classie.js' %} "></script>
					<script src=" {% static 'js/uisearch.js' %} "></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script> -->
					<!-- //search-scripts -->
			<!-- </div> --> 
			<div class="header-right">
				<div class="cart box_1">
					<a href=" {% url 'checkout.html' %} ">
						<h3><div class="total">
							{% if request.session.log_user %}
							<span style="margin-left:80%;"><a href=" {% url 'checkout.html' %} " class="simpleCart_empty" style="font-size:20px;color:#97ee0c">View Cart<img src=" {% static 'images/cr.png' %} " alt="" / height="20px" width="20px"></a></span>
<!--							(<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>-->
							{% else %}
							<span style="margin-left:80%;"><a href=" {% url 'login.html' %} " class="simpleCart_empty" style="font-size:20px;color:#97ee0c">View Cart<img src=" {% static 'images/cr.png' %} " alt="" / height="20px" width="20px"></a></span>
							{% endif %}
						</div>
<!--							(<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>-->

						</h3>
					</a>



					<div class="clearfix"> </div>
				</div>
			</div>
				<br>
				<br>
				<br>
				<br>
				<div class="header-right">
					{% if request.session.log_user %}
					<h5 style="color:#97ee0c"> Hello,<label style="color:white">{{ request.session.log_user }}</label></h5>

						<div class="clearfix"> </div>
						{% endif %}
				</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href=" {% url 'index.html' %} "><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Blog</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--typography-page -->
	<!-- <div class="typo"> -->
		<div class="container">
		{% for data in blog %}
			<br><br><br>
			<!-- <style>
				a {
				  color:rgb(255, 42, 131);
				}
				p{
					font-family:Georgia, 'Times New Roman', Times, serif;
					padding:1%;
					
				}
				
				</style>
					<div class="bs-docs-example animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				<table >
					<tr style="width: 100%;">
						<td style="border:8px solid black;padding:5px;background-color: white; height: 300px;">
							<img src=" {% static 'images/bl1.jpg' %} " height="300px"width="350px">
							<br>
							<b style="font-size: 30px;color: navy;">
							<u style="padding: 1%;">10 Easy Tips For Healthy Weight Loss:</u></b><br>
							<p style="height: 200px;">Fad diets are everywhere but are neither healthy nor sustainable in the long run. Dietitian Rebekah lists her
							 top tips for healthy weight loss that can be maintained.
							 A person’s weight increases if they consume more calories than what their body needs, and they do not burn off 
							 the additional calories through exercise. 
							 If a person consumes too many calories, these calories are stored as fat in the body.
							 Every person has a BMR (Basal Metabolic Rate) this  is the number of calories that a person needs   
							
							  <a href=" {% static 'secblog.html' %} " style="font-size: 22px;" ><b>Read more....</b></a>
							</p>								
							</td>

							<td style="border:8px solid black;padding:5px;background-color: white;height: 300px;">
								<img src=" {% static 'images/blog2.jpg' %} " height="300px;" width="350px">
								<br>
								<b style="font-size: 30px;color: rgb(125, 153, 34);">
									<u style="padding: 1%;">Benefits Of Daily Workout<br> Routines At Home</u></b><br>
									<p style="height: 200px;">1. Workout At Any Time of the Day:
										With the timing of the gyms or fitness classes being fixed, there might be times when you
										 have to miss some sessions. You might also have to skip or postpone a few things in your schedule 
										 to accommodate your gym timings. By continuing to work out at home you can exercise at any time as
										  per your comfort.
										  You can fit in important things in your schedule and would never have to skip your fitness routine.
										  2. Get 
										 <a href="#" style="font-size: 22px;" ><b>Read more....</b></a>
									   </p>
							
							
							</td> -->
							<!-- <td><img src=" {% static 'images/blog3.jpg' %} " height="300px" width="350px">
								<b style="font-size: 30px;color: rgb(240, 42, 174);">
									<u style="padding: 1%;">What is the Atkins Diet? </u></b><br>
									<p style="height: 200px;">When a person follows the Atkins Diet, their body’s metabolism switches from 
										burning glucose, or sugar, as fuel to burning stored body fat. This switch is called ketosis.

										When glucose levels are low, insulin levels are also low, and ketosis occurs. In other words, when
										 glucose levels are low, the body switches to using its fat stores, as well as dietary fat, for energy.
										  In theory, this can help a person lose body fat and weight.
										
										Before a person eats, their glucose levels are low, so their insulin levels are also low. When  that person eats, their glucose levels
										rise, and the body 
										
										 <a href="#" style="font-size: 22px;" ><b>Read more....</b></a>
									   </p>



							</td> -->
							<!-- <td><img src=" {% static 'images/blog4.jpg' %} " height="300px" width="300px"><b style="font-size: large;color: rgb(12, 12, 11);">
								<u style="padding: 1%;">My Experience with Fitzee </u></b><br>
								<p style="height: 200px;">As you get started working out, think about long-term consistency. A great 
									question to ask yourself is, How many days a week can you realistically fit into your life?" says Tanker. 
									She recommends working your way up to three to four days a week, but that doesn't mean you have to start there.
									Begin by scheduling just two workouts a week, Tanker suggests. These can be as short as a 30-minute resistance training workout, 
									Comas says. Setting a realistic goal is key to sticking with it, and since you'll probably be 
									
									 <a href="#" style="font-size: 22px;" ><b>Read more....</b></a>
								   </p>
							
							</td> -->
					<!-- </tr>
					<tr>
						<style>
							.text-block {
 							 position: absolute;
								top: 20px;
								right: 20px;
								background-color: rgb(104, 104, 104);
								color: white;
								padding-left: 20px;
								padding-right: 20px;
								}
						</style>
						<td colspan="4" style="position: relative;border:10px solid black;padding:5px;background-color: white;"><img src=" {% static 'images/blog5.jpg' %} " height="1000px" width="100%">
						 	<b style="font-size:larger;color: rgb(12, 12, 11);">
							<u style="padding: 1%">BLOG ON FAMILY ACTIVENESS </u></b> 
							 -->
							 <!-- <div class="text-block">
								<b style="font-size: 23px;color: rgb(61, 250, 13);">
									<u style="padding: 1%;">How Your Family Can Become More Active </u></b>
									<br>
									<p> Your body is made to move and yet we are becoming more sedentary than ever.
										<br>
										Most people view physical activity and exercise as a chore, and we know that 
										<br>
										kids don’t like chores, so the goal is to change the way that we view exercise.
										<br> The key is to make exercise fun because let’s face it, it can be boring. 
										<br>Here are some tips to get you and your 
										
										<a href="#" style="font-size: 22px;" ><b>Read more....</b></a>
									</p>

								</div>
						</td>
						
					</tr>
					
				  </table> -->

				  <style>
					.grid-container {
					  display: grid;
					  grid-template-columns: auto ;
					  gap: 10px;
					  /* background-color: #2196F3; */
					  padding: 10px;
					}
					
					.grid-container > div {
					  background-color: white;
					  text-align: center;
					  padding: 10px 10px;
					  /* font-size: 30px; */
					}
				
				a {
				  color:#619906;
				}
				p{
					/* font-family:Georgia, 'Times New Roman', Times, serif; */
					padding:1%;
					
				}
				
				.item1,.item2,.item3,.item4{
					height: 200px;
					background-color: #2c3e50 ;
					background-image:linear-gradient(#2c3e50,#bdc3c7,white) ;
				}
				
			
					</style>

					<div class="grid-container">

						<div class="item1" style="height:600px"><img src="media/{{ data.b_media }}" height="300px"width="350px"><br>
							<b style="font-size: 20px;color: navy;">
								<u style="padding: 1%;">{{ data.b_name }}</u></b><br>
								<p style="height: 200px; font-family:Georgia, 'Times New Roman', Times, serif;" >{{ data.b_desc1 }}
								   
									 <a href="/secblog/{{ data.id }}" style="font-size: 22px;" ><b>Read more....</b></a>
								   </p>

						</div>


<!--						<div class="item2" style="height:600px"><img src=" {% static 'images/blog2.jpg' %} " height="300px"width="350px">-->
<!--							<br>-->
<!--							<b style="font-size: 20px;color: rgb(125, 153, 34);">-->
<!--								<u style="padding: 1%;">Benefits Of Daily Workout Routines At Home</u></b><br>-->
<!--								<p style="height: 200px; font-family:Georgia, 'Times New Roman', Times, serif;">1. Workout At Any Time of the Day:-->
<!--									With the timing of the gyms or fitness classes being fixed, there might be times when you-->
<!--									 have to miss some sessions. You might also have to skip or postpone a few things in your schedule -->
<!--									 to accommodate your gym timings. By continuing to work out at home you can exercise at any time as-->
<!--									  per your comfort.-->
<!--									  You can fit in important things in your schedule and would never have to skip your fitness routine.-->
<!--									  2. Get -->
<!--									 <a href="#" style="font-size: 22px;" ><b>Read more....</b></a>-->
<!--								   </p>-->
<!--						-->
<!--						-->
<!--						-->
<!--						-->
<!--						</div>-->
<!--						<div class="item3" style="height:600px">-->
<!--							<img src=" {% static 'images/blog3.jpg' %} " height="300px" width="350px">-->
<!--							<br>-->
<!--							<b style="font-size: 20px;color: rgb(240, 42, 174);">-->
<!--							<u style="padding: 1%;">What is the Atkins Diet? </u></b><br>-->
<!--							<p style="height: 200px; font-family:Georgia, 'Times New Roman', Times, serif;">When a person follows the Atkins Diet, their body’s metabolism switches from -->
<!--								burning glucose, or sugar, as fuel to burning stored body fat. This switch is called ketosis.-->

<!--								When glucose levels are low, insulin levels are also low, and ketosis occurs. In other words, when-->
<!--								 glucose levels are low, the body switches to using its fat stores, as well as dietary fat, for energy.-->
<!--								  In theory, this can help a person lose body fat and weight.-->
<!--								-->
<!--								Before a person eats, their glucose levels are low, so their insulin levels are also low. When  that person eats, their glucose levels-->
<!--								rise, and the body <br>-->
<!--								 <a href="#" style="font-size: 22px;" ><b>Read more....</b></a>-->
<!--							   </p></div>  -->


<!--						<div class="item4" style="height:600px">-->
<!--							<img src=" {% static 'images/blog4.jpg' %} " height="300px" width="300px">-->
<!--							<br>-->
<!--							-->
<!--							-->
<!--							<b style="font-size: 20px;color: rgb(12, 12, 11);">-->
<!--								<u style="padding: 1%;">My Experience with Fitzee </u></b><br>-->
<!--								<p style="height: 200px; font-family:Georgia, 'Times New Roman', Times, serif;">As you get started working out, think about long-term consistency. A great -->
<!--									question to ask yourself is, How many days a week can you realistically fit into your life?" says Tanker. -->
<!--									She recommends working your way up to three to four days a week, but that doesn't mean you have to start there.-->
<!--									Begin by scheduling just two workouts a week, Tanker suggests. These can be as short as a 30-minute resistance training workout, -->
<!--									Comas says. Setting a realistic goal is key to sticking with it, and since you'll probably be -->
<!--									-->
<!--									 <a href="#" style="font-size: 22px;" ><b>Read more....</b></a>-->
<!--								   </p>-->





<!--						</div>-->
						
						
						
					  </div>
				  
							{% endfor %}
		<br>
		<br>
								{% if messages %}
								{% for msg in messages %}
								<script>
									alert('{{ msg }}');
								</script>
								{% endfor %}
								{% endif %}
{% if request.session.log_user %}
				  				  <form action = "{% url 'viewblg' %} " method="post" enctype="multipart/form-data" style="border: 1px solid white;width: 100%;background-image:url( {% static 'images/blbg.png' %} );">
									{% csrf_token %}
									  <style>
										input[type="submit"]{
											outline:none;
											padding:10px 0;
											background:#619906;
											border:none;
											width:30%;
											font-size:1em;
											color:#fff;
											align-items: center;
				
					}						
					input[type="text"],input[type="email"],textarea{
						outline:none;
						background:#f5f5f5;
						border:1px solid #D2D2D2;
						font-size:15px;
						color:#212121;
					}

					input[type="file"]{
						display: none;
					}
									</style>
					<h1 style="text-align: center;color:#97ee0c;padding: 1%;">ADD&nbsp; BLOG</h1>
					<br>
					<input type="text" placeholder="Write Your Name" style="margin-left: 1%; width:98%;padding: 1%;" name="wr_name" required="" >
					<br><br>
					<input type="text" placeholder="Enter Subject" style="margin-left: 1%; width:98%;padding: 1%;" name="b_name" required="">
					<br><br>
					<textarea type="text" placeholder="Enter Blog Here" style="margin-left: 1%; width:98%;padding: 1%;min-height:150px;" name="b_desc1" required=""></textarea>
					<textarea type="text" placeholder="Enter Blog Here" style="margin-left: 1%; width:98%;padding: 1%;min-height:150px;" name="b_desc2" required=""></textarea>
					<br><br>
					
					<input type="file" id="file" accept="image/*" name="b_media" >
				  <label for="file" style="margin-left: 1%;padding: 1%;color:white;height:40px;width:200px;
						background-color: lightseagreen;position: absolute;
						font-size: 20px; display: flex;justify-content: center;
						align-items: center;cursor:pointer;font-family:Arial, Helvetica, sans-serif;">Upload Photo</label>
					<br>
					<br><br>
					
					<input type="submit" value="Submit" style="margin-left: 1%;padding: 1%;text-align: center;margin-bottom: 1%;" >

				  </form>
			{% endif %}
				  <!-- <div class="add-review" style="border: 2px solid white;">
					<h4 style="color: white;text-align: center;">Add Blog</h4>
					<form>
						<style>
							label{
								color:white;
								height: 60px;
								width:200px;
								background-color: gray;
								position:absolute;
								margin-left: 1%;
								display: flex;
								justify-content: center;
								align-items: center;
							}
						</style>
						<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="" style="margin-left: 1%;">
						<input type="file" id="file" accept="image/*"><label>Choose a</label> -->
						<!-- <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="" style="margin-left: 1%;width:48%;">
						<input type="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required=""style="margin-left: 1%;width:98%;" >
						<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Write Blog Here...';}" required=""style="margin-left: 1%;width:98%;" >Write Blog Here..</textarea>
						<input type="file" id="file" accept="image/*"><label>Choose a Photo</label><br><br><br><br><br>
						<input type="submit" value="Send" style="align-items: center;margin-bottom: 2%;margin-left: 1%;" >
					</form>
				</div> --> 
				<!-- </div></div> -->
		</div>
	</div>
	<br>
	<br>
<!-- //typography-page -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3 style="color: #97ee0c;">About Us</h3>
					<p>We want to help you live a fit and healthy lifestyle! <span>We helped over 5000 customers live longer,happier and healthier lives.</span> </p>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
					<h3 style="color: #97ee0c;">Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>Ahmedabad City.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href=" {% static 'mailto:info@example.com' %} ">fitzeeforhealth@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 1234567890</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
					<h3 style="color: #97ee0c;">Useful Links</h3>

					<ul>
						<li><a href=" {% url 'exercise.html' %} ">Exercise</a></li>
						<li><a href=" {% url 'blog.html' %} ">Blog</a></li>
						<li><a href=" {% url 'products.html' %} ">Products</a></li>
						<li><a href=" {% url 'mail.html' %} ">Contact Us</a></li>
					</ul>

					</ul>

					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
					<h3 style="color: #97ee0c;">Connect</h3>
					<ul>
						<li><a href="https://www.facebook.com/profile.php?id=100078447043673"><img src=" {% static 'images/face.png' %} "></a>
							<a href="https://twitter.com/FitzeeH?t=FeZig36XOoYim0RNfjdv6Q&s=03"><img src=" {% static 'images/twitter.png' %} " height="38px" width="38px"></a> &nbsp;
<!--							<a href="#"><img src=" {% static 'images/google.png' %} " height="38px" width="38px"></a> &nbsp;-->
							<a href="https://www.instagram.com/fitzee_forhealth/"><img src=" {% static 'images/instagram.png' %} " height="38px" width="38px"></a>
						</li>

					</ul>
					<h3 style="color: #97ee0c;">Sign Up</h3>
                    <ul>
                        <li>
                            <a href=" {% url 'login.html' %} ">Login / </a>
                            <a href=" {% url 'register.html' %} ">Register</a>
                        </li>
                    </ul>


						<div class="clearfix"> </div>
					</div>
					<br>

				</div>

				<div class="clearfix"> </div>
				<br>
				<br>
				<style>

					textarea{
						outline:none;
						background:#f5f5f5;
						border:1px solid #D2D2D2;
						font-size:15px;
						color:#212121;
					}
					input[type="submit"]{
											outline:none;
											padding:10px 0;
											background:#97ee0c;
											border:none;
											width:30%;
											font-size:1em;
											color:#fff;
											align-items: center;

					}
				</style>

				<!--<div  class="rating" > -->
		{% if request.session.log_user %}
					<div class="animated wow slideInLeft" data-wow-delay=".5s">
					<form style="border: 1px solid white;width: 100%; color: white; animated wow slideInLeft" data-wow-delay=".5s" action="/insertfeedback" method="post">
						{% csrf_token %}
                        <h3 style="text-align: center;color:#97ee0c;padding: 1%;">FEEDBACK FORM</h3>
                        <br>

                        <label style="margin-left: 1%;">Review:</label><br/>
                        <div class="rating">
            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide"  />
            <label for="star5">☆</label>
            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
            <label for="star4">☆</label>
            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
            <label for="star3">☆</label>
            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
            <label for="star2">☆</label>
            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
            <label for="star1">☆</label>
            <div class="clear"></div>
        </div>
                        <br/>
                        <br/>
                        <br/>

                        <label style="margin-left: 1%;">Comment:</label>
                        <textarea type="text" placeholder="Write Comment Here" name="comment" style="margin-left: 1%; width:98%;padding: 1%;min-height:150px; color:black" required=""></textarea>
                        <br><br>
                        <input type="submit" value="Submit" style="margin-left: 1%;padding: 1%;text-align: center;margin-bottom: 1%;" >


                    </form>
					</div>
{% endif %}
				<!-- </div> -->
			</div>

			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href=" {% url 'index.html' %} ">FITZEE <span>S T A Y  H E A L T H Y</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>&copy 2022 FITZEE. All rights reserved</p>
					 <!-- Design by <a href="http://w3layouts.com/">W3layouts</a></p> -->
			</div>
		</div>
	</div>
<!-- //footer -->
</body>
</html>