<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>FITZEE | Register</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href=" {% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
<link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src=" {% static 'js/jquery.min.js' %} "></script>
<!-- //js -->
<!-- cart -->
<script src=" {% static 'js/simpleCart.min.js' %} "></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src=" {% static 'js/bootstrap-3.1.1.min.js' %} "></script>
<!-- //for bootstrap working -->
<link href=' fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic ' rel='stylesheet' type='text/css'>
<link href=' fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic ' rel='stylesheet' type='text/css'>
<!-- timer -->
<link rel="stylesheet" href=" {% static 'css/jquery.countdown.css' %} " />
	<link rel="stylesheet" href=" {% static 'css/rate.css' %} " />
<!-- //timer -->
<!-- animation-effect -->
<link href=" {% static 'css/animate.min.css' %} " rel="stylesheet"> 
<script src=" {% static 'js/wow.min.js' %} "></script>
<script>
 new WOW().init();
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<!-- //animation-effect -->
</head>
	
<body>

<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href=" {% static 'mailto:info@example.com' %} ">fitzeeforhealth@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 1234567890</li>
						{% if request.session.log_user %}
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href=" {% url 'logout' %} ">logout</a></li>
						{% else %}
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href=" {% url 'login.html' %} ">Login</a></li>
						{% endif %}
						<li class="active"><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href=" {% url 'register.html' %} " class="act">Register</a></li>
					</ul>
				</div>
				<div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<!-- <ul class="social-icons">
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="g"></a></li>
						<li><a href="#" class="instagram"></a></li>
					</ul>				 -->
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/profile.php?id=100078447043673"><img src=" {% static 'images/face.png' %} "></a>
							<a href="https://twitter.com/FitzeeH?t=FeZig36XOoYim0RNfjdv6Q&s=03"><img src=" {% static 'images/twitter.png' %} " height="38px" width="38px"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<!--							<a href=""><img src=" {% static 'images/google.png' %} " height="38px" width="38px"></a>&nbsp;&nbsp;&nbsp;&nbsp;-->
							<a href="https://www.instagram.com/fitzee_forhealth/"><img src=" {% static 'images/instagram.png' %} " height="38px" width="38px"></a>
						</li>
						
					
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href=" {% url 'index.html' %} ">&nbsp;FITZEE <span>Stay Healthy</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div> 
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href=" {% url 'index.html' %} "  style="color:white">HOME</a></li>
							<!-- Mega Menu -->
							{% if request.session.log_user %}
							<li class="active">
								<a href=" {% url 'exercise.html' %} " style="color:white">EXERCISE</a>
								<!-- <ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h5><a href=" {% static 'products.html' %} ">Weight Gain</a></h5>
												<li><a href=" {% static 'products.html' %} ">Clothing</a></li>
												<li><a href=" {% static 'products.html' %} ">Wallets</a></li>
												<li><a href=" {% static 'products.html' %} ">Shoes</a></li>
												<li><a href=" {% static 'products.html' %} ">Watches</a></li>
												<li><a href=" {% static 'products.html' %} ">Accessories</a></li> 
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h5><a href=" {% static 'products.html' %} ">Weight Loose</a></h5>
												 <li><a href=" {% static 'products.html' %} ">Clothing</a></li>
												<li><a href=" {% static 'products.html' %} ">Wallets,Bags</a></li>
												<li><a href=" {% static 'products.html' %} ">Footwear</a></li>
												<li><a href=" {% static 'products.html' %} ">Watches</a></li>
												<li><a href=" {% static 'products.html' %} ">Accessories</a></li>
												<li><a href=" {% static 'products.html' %} ">Jewellery</a></li>
												<li><a href=" {% static 'products.html' %} ">Beauty & Grooming</a></li> 
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Kid's Wear</h6>
												<li><a href=" {% static 'products.html' %} ">Kids Home Fashion</a></li>
												<li><a href=" {% static 'products.html' %} ">Boy's Clothing</a></li>
												<li><a href=" {% static 'products.html' %} ">Girl's Clothing</a></li>
												<li><a href=" {% static 'products.html' %} ">Shoes</a></li>
												<li><a href=" {% static 'products.html' %} ">Brand Stores</a></li>
											</ul>
										</div> 
										<div class="clearfix"></div>
									</div>
								</ul> -->
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">DIET <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-2">
									<div class="row">
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h6>vegetarian</h6>
												<li><a href="/vwg"><b>WEIGHT GAIN</b></a></li>
												<li><a href="/vwl"><b>WEIGHT LOOSE</b></a></li>
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h6>non-vegetarian</h6>
												<li><a href="/nwg"><b>WEIGHT GAIN</b></a></li>
												<li><a href="/nwl"><b>WEIGHT LOOSE</b></a></li>
											</ul>
										</div>
										<!--<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Kid's Wear</h6>
												<li><a href=" {% static 'products.html' %} ">Kids Home Fashion</a></li>
												<li><a href=" {% static 'products.html' %} ">Boy's Clothing</a></li>
												<li><a href=" {% static 'products.html' %} ">Girl's Clothing</a></li>
												<li><a href=" {% static 'products.html' %} ">Shoes</a></li>
												<li><a href=" {% static 'products.html' %} ">Brand Stores</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>-->
									</div>
								</ul>
							</li>
							{% endif %}
							<li><a href=" {% url 'blog.html' %} " style="color:white">BLOG</a></li>
							<li><a href=" {% url 'products.html' %} " style="color:white">PRODUCTS</a></li>
							<li><a href=" {% url 'mail.html' %} " style="color:white">CONTACT US</a></li>
						</ul>
					</div>
					</nav>
				</div>
				<!-- <div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<!-- <script src=" {% static 'js/classie.js' %} "></script>
						<script src=" {% static 'js/uisearch.js' %} "></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script> -->
						<!-- //search-scripts -->
				<!-- </div> --> 
				<div class="header-right">
				<div class="cart box_1">
					<a href=" {% url 'checkout.html' %} ">
						<h3> <div class="total">
							{% if request.session.log_user %}
							<span style="margin-left:80%;"><a href=" {% url 'checkout.html' %} " class="simpleCart_empty" style="font-size:20px;color:#97ee0c">View Cart<img src=" {% static 'images/cr.png' %} " alt="" / height="20px" width="20px"></a></span>
<!--							(<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>-->
							{% else %}
							<span style="margin-left:80%;"><a href=" {% url 'login.html' %} " class="simpleCart_empty" style="font-size:20px;color:#97ee0c">View Cart<img src=" {% static 'images/cr.png' %} " alt="" / height="20px" width="20px"></a></span>
							{% endif %}
						</div>

						</h3>
					</a>

					<div class="clearfix"> </div>
				</div>
			</div>
				<br>
				<br>
				<br>
				<br>
				<div class="header-right">
					{% if request.session.log_user %}
					<h5 style="color:#97ee0c"> Hello,<label style="color:white">{{ request.session.log_user }}</label></h5>

						<div class="clearfix"> </div>
						{% endif %}
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href=" {% url 'index.html' %} "><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register </li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
			<!-- <p class="est animated wow zoomIn" data-wow-delay=".5s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
				deserunt mollit anim id est laborum.</p> -->
			<div class="login-form-grids">
				<script>
						function validateform(){
						var firstname=document.myform.firstname.value;
						var password=document.myform.password.value;
                        var age=document.getElementById('age').value;
                        var mobile = document.getElementById('number').value;
                        var regex=/^[7-9]\d{9}$/


						if (firstname==null || firstname==""){
						  alert("Name can't be blank");
						  return false;
						}else if(password==null || password.length<8){
						  alert("Password must be at least 8 characters long.");
						  return false;
						  }
						  else if(isNaN(age) || age < 1 || age > 100)
						  {
                      alert("The age must be a number between 1 and 100");
                      return false;
                    }
<!--                        else if(mobile.trim()=="") {-->
<!--                            alert("please enter valid mobile number");-->
<!--                            return false;-->
<!--                            else if(mobile==(regex.test(mobile))){-->
<!--                             return true;-->
<!--                            }-->

<!--                        }-->

					}

				</script>

				<h4 class="animated wow slideInUp" data-wow-delay=".5s">profile information</h4>
				{% if messages %}
				{% for msg in messages %}
				<script>
					alert('{{ msg }}');
				</script>
				{% endfor %}
				{% endif %}
				<form  action = "{% url 'viewdata' %} " method="post" enctype="multipart/form-data" class="animated wow slideInUp" data-wow-delay=".5s" onsubmit="return validateform()" name="myform">
					{% csrf_token %}
					<label class="First-Name">First Name </label>  
					<input type="text" placeholder="First Name..." required=" "  style="margin-left: 25%;" name="firstname" id="firstname"><br><br>
					<label class="Last-Name">Last Name</label>
					<input type="text" placeholder="Last Name..." required=" " style="margin-left: 25.3%;" name="lastname" id="lastname"><br><br>
					<label class="Age">Address</label>
					<textarea placeholder="Enter Address..." required=" " style="margin-left: 30%;background-color:white;" rows="2" cols="23" name="address" id="address"></textarea><br><br>
					<label class="Age">Age</label>
					<input type="number" placeholder="Enter Age..." required=" " style="margin-left: 38.5%;" name="age" id="age"><br><br>
					<label class="Height">Height</label>
					<input type="text" placeholder="Enter Height in ft..." required=" " style="margin-left: 33%;" name="height" id="height"><br><br>
					<label class="Weight">Weight</label>
					<input type="text" placeholder="Enter Weight in kg..." required=" " style="margin-left: 32%;" name="weight" id="weight"><br><br>
					<label class="Gender">Gender</label>
					<input type="radio"  id="Male" value="Male" name="gender" style="margin-left: 31%;" >
					<label class="Gender">Male</label>&nbsp;&nbsp;&nbsp;
					<input type="radio"  id="Female" value="Female" name="gender">
					<label class="Gender">Female</label>
					<br><br>
					<label class="Phone-number"><p>Mobile</p></label>
					<input type="number" placeholder="Enter Mobile No..." required=" " style="margin-left: 32%;" name="number" id="number"><br><br>
					
					<label class="Deficiency"><p> Deficiency</p></label>
						<select name="Deficiency" id="Deficiency" style="margin-left: 25%;width: 50%;"  >
							{% for data in def %}
							<option value="{{ data.id }}">{{ data.de_type }}</option>
							{% endfor %}
						</select>
					<br><br>
					<label class="E-mail">E-mail</label>
					<input type="email" placeholder="Email Address" required=" "  style="margin-left: 33.2%;" name="email" id="email"><br><br>
					<label class="Password">Password</label>
					<input type="password" placeholder="Password" required=" " style="margin-left: 26.8%;" name="password" id="password"><br><br>
<!--					<label class="Password">Confirm Password</label>-->
<!--					<input type="password" placeholder="Confirm Password" required=" " style="margin-left: 10.5%;" name="conpassword" id="conpassword"><br><br>-->
				<input type="submit" value="Register">
				</form>
				<!-- <div class="register-check-box animated wow slideInUp" data-wow-delay=".5s">
					<div class="check">
						<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Subscribe to Newsletter</label>
					</div>
				</div> -->


			</div>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href=" {% url 'index.html' %} ">Home</a>
			</div>
		</div>
	</div>
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("conpassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<!-- //register -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
				<h3 style="color: #97ee0c;">About Us</h3>
				<p>We want to help you live a fit and healthy lifestyle! <span>We helped over 5000 customers live longer,happier and healthier lives.</span> </p>
			</div>
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
				<h3 style="color: #97ee0c;">Contact Info</h3>
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>Ahmedabad City.</span></li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href=" {% static 'mailto:info@example.com' %} ">fitzeeforhealth@gmail.com</a></li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 1234567890</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
				<h3 style="color: #97ee0c;">Useful Links</h3>

				<ul>
					<li><a href=" {% url 'exercise.html' %} ">Exercise</a></li>
					<li><a href=" {% url 'blog.html' %} ">Blog</a></li>
					<li><a href=" {% url 'products.html' %} ">Products</a></li>
					<li><a href=" {% url 'mail.html' %} ">Contact Us</a></li>
				</ul>

				</ul>
				
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
				<h3 style="color: #97ee0c;">Connect</h3>
				<ul>
					<li><a href="https://www.facebook.com/profile.php?id=100078447043673"><img src=" {% static 'images/face.png' %} "></a>
							<a href="https://twitter.com/FitzeeH?t=FeZig36XOoYim0RNfjdv6Q&s=03"><img src=" {% static 'images/twitter.png' %} " height="38px" width="38px"></a> &nbsp;
<!--							<a href="#"><img src=" {% static 'images/google.png' %} " height="38px" width="38px"></a> &nbsp;-->
							<a href="https://www.instagram.com/fitzee_forhealth/"><img src=" {% static 'images/instagram.png' %} " height="38px" width="38px"></a>
						</li>
					
				</ul>
				<h3 style="color: #97ee0c;">Sign Up</h3>
				<ul>
					<li>
						<a href=" {% url 'login.html' %} ">Login / </a>
						<a href=" {% url 'register.html' %} ">Register</a>
					</li>
				</ul>
				
				
					<div class="clearfix"> </div>
				</div>
				<br>
				
			</div>
			
			<div class="clearfix"> </div>
			<br>
			<br>
			<style>

				textarea{
					outline:none;
					background:#f5f5f5;
					border:1px solid #D2D2D2;
					font-size:15px;
					color:#212121;
				}
				input[type="submit"]{
										outline:none;
										padding:10px 0;
										background:#97ee0c;
										border:none;
										width:30%;
										font-size:1em;
										color:#fff;
										align-items: center;
			
				}					
			</style>
			
			<!--<div  class="rating" > -->
		{% if request.session.log_user %}
					<div class="animated wow slideInLeft" data-wow-delay=".5s">
					<form style="border: 1px solid white;width: 100%; color: white; animated wow slideInLeft" data-wow-delay=".5s" action="/insertfeedback" method="post">
						{% csrf_token %}
                        <h3 style="text-align: center;color:#97ee0c;padding: 1%;">FEEDBACK FORM</h3>
                        <br>

                        <label style="margin-left: 1%;">Review:</label><br/>
                        <div class="rating">
            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide"  />
            <label for="star5">☆</label>
            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
            <label for="star4">☆</label>
            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
            <label for="star3">☆</label>
            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
            <label for="star2">☆</label>
            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
            <label for="star1">☆</label>
            <div class="clear"></div>
        </div>
                        <br/>
                        <br/>
                        <br/>

                        <label style="margin-left: 1%;">Comment:</label>
                        <textarea type="text" placeholder="Write Comment Here" name="comment" style="margin-left: 1%; width:98%;padding: 1%;min-height:150px; color:black" required=""></textarea>
                        <br><br>
                        <input type="submit" value="Submit" style="margin-left: 1%;padding: 1%;text-align: center;margin-bottom: 1%;" >


                    </form>
					</div>
{% endif %}
			<!-- </div> -->
		</div>
		
		<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
			<h2><a href=" {% url 'index.html' %} ">FITZEE <span>S T A Y  H E A L T H Y</span></a></h2>
		</div>
		<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
			<p>&copy 2022 FITZEE. All rights reserved</p>
				 <!-- Design by <a href="http://w3layouts.com/">W3layouts</a></p> -->
		</div>
	</div>
</div>
<!-- //footer -->
</body>
</html>